<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RepX</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .search-form {
      margin-right: 10px; /* Adjust the margin as needed */
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">RepX</a>
      <form class="d-flex" action="/create" method="POST">
        <input class="form-control me-2 search-form" type="search" name="req_no" placeholder="Req. No" aria-label="Create">
        <button class="btn btn-outline-success" type="submit">Create</button>
      </form>
    </div>
  </nav>
</body>

</html>
